name: Release
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          cache: 'pip'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Check lint
        run: ruff check . --output-format=github

      - name: Test
        run: python3 -m unittest

      - name: Zip the integration directory
        shell: "bash"
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          cd "${{ github.workspace }}/custom_components/spypoint"
          zip spypoint.zip -r ./

      - name: Upload the zip file to the release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: ${{ github.workspace }}/custom_components/spypoint/spypoint.zip
          generate_release_notes: true